<header>
    <nav>
        <ul class="navb">
            <li><a href="index.php" accesskey="i">Home</a></li>
            <li><a href="shops.php" accesskey="s">Shops</a></li>
            <li>
                <a href="shops.php?order=toprated" accesskey="t"
                    >Top Rated Shops</a
                >
            </li>
            <li><a href="about.php" accesskey="a">About us</a></li>
            <li><a href="help.php" accesskey="q">Help</a></li>
        </ul>
    </nav>
</header>
